@using RockPaperScissorsWebApp.Enums
@model IEnumerable<RockPaperScissorsWebApp.Models.Round>

@{
    ViewBag.Title = "ChooseHumanGesture";
}

<div class="row">
    <h2  class="text-center">Choose gesture</h2>
</div>
<div class="text-center row">
    <div class="btn-lg text-center">@Html.ActionLink("Rock", "GetHumanGesture" , new { gesture=Gesture.Rock })</div>
    <div class="btn-lg text-center">@Html.ActionLink("Paper", "GetHumanGesture", new { gesture = Gesture.Paper })</div>
    <div class="btn-lg text-center">@Html.ActionLink("Scissors", "GetHumanGesture", new { gesture = Gesture.Scissors })</div>
</div>

@Html.Partial("History", @Model)



