@using RockPaperScissorsWebApp.Enums

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron row">
    <h1 class="text-center">Rock Paper Scissors</h1>
</div>
<div class="row">
    <h2 class="text-center">Game mode</h2>
</div>

<div class=" text-center row">
    <div class="btn-lg text-center ">@Html.ActionLink("Human Vs Computer", "NewGame", new { gametype = GameType.HumanVsComputer })</div>
    <div class="btn-lg text-center ">@Html.ActionLink("Computer Vs Computer", "NewGame", new { gametype = GameType.ComputerVsComputer })</div>
</div>



